.item {
    width: 100%;
    padding: 25px 20px;
    margin: 5px 0;
    background: #FFFFFF;
    border-radius: 16px;
    box-shadow: -5px 3px 20px #f5f5f5;
}

.row {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.titleTask, .titleDate, .titleName, .titleExecuters, .titlePriority, .titleStatus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2px 5px;
    color: #3f4558;
    font-size: 15px;
    font-weight: 700;
    word-break: break-all;
}

.titleTask {
    width: 20%;
}

.titleDate {
    width: 90px;
}

.titleName {
    width: 25%;
}

.titleExecuters {
    width: 10%;
}

.titlePriority {
    width: 80px;
}

.titleStatus {
    width: 20%;
    display: block;
    text-align: center;
}

.title:not(:last-of-type)::after {
    content: '';
    display: block;
    height: 100%;
    margin: 0 15px;
    /* border-right: 2px solid #000; */
    border-right: 2px solid #f9faff;
}

.statusFree, .statusProcess, .statusCompleted {
    font-weight: 500;
}

.statusFree {
    color: #50caa1;
}

.statusProcess {
    color: #e2c626;
}

.statusCompleted {
    color: #a813e2;
}

.moreInfo {
    margin-top: 30px;
}

.moreInfo table tbody td {
    /* padding: 10px 30px 10px 0; */
    color: #2b2b2b;
    line-height: 160%;
    /* border-bottom: 1px solid #dddddd; */
}

.infoTable {
    width: 100%;
    border-collapse: collapse;
} 

.infoTable td {
    padding: 10px;
    border: 1px solid #dddddd;
}

.exeutersTable td {
    border: none;
    padding: 0;
}

@media (max-width: 1300px) {
    .row div {
        font-size: 14px;
    }
}