.item {
    width: 100%;
    padding: 25px 20px;
    margin: 5px 0;
    background: #FFFFFF;
    border-radius: 16px;
    box-shadow: -5px 3px 20px #f5f5f5;
}

.row {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #3f4558;
    font-weight: 700;
}

.title:not(:first-of-type) {
    width: 20%;
}

.title:not(:last-of-type)::after {
    content: '';
    display: block;
    height: 100%;
    margin: 0 15px;
    /* border-right: 2px solid #000; */
    border-right: 2px solid #f9faff;
}

.statusFree, .statusProcess, .statusCompleted {
    font-weight: 500;
}

.statusFree {
    color: #50caa1;
}

.statusProcess {
    color: #e2c626;
}

.statusCompleted {
color: #a813e2;
}